<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rubic landing page.">
    <meta name="author" content="Devcrud">
    <title>Traffic accident rate</title>
        <link rel="shortcut icon" type="image/x-icon" href="static/images/logo.png">
    <!-- font icons -->
    <link rel="stylesheet" href="static/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + Rubic main styles -->
	<link rel="stylesheet" href="static/css/rubic.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" style=" overflow: hidden;">
<Body background="static/images/.jpg" >

   <center>
       <nav id="scrollspy" class="navbar page-navbar navbar-dark navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#"><strong class="text-primary">Accident </strong><span class="text-light">Severity Detection</span></a>

            <a href="/load" class="btn btn-primary btn-lg">Get Started</a></center>

            </div>


        </nav>
                </center>



      <img src="static/images/Image20230325153027.gif" style="    height: 100vh; width: 2105px;" >

<!--                 <div class="display-tc animate-box" data-animate-effect="fadeIn">-->
<!--							<center><h1>DETECTING ACCIDENT RATE</h1>-->

<!--							<a href="/load" class="btn btn-primary btn-lg">Get Started</a></center>-->
<!--&lt;!&ndash;								<a href="#" class="btn btn-white btn-outline btn-lg"></a></p>&ndash;&gt;-->

<!--                </div>-->




<!--    <section class="section has-img-bg text-center">-->
<!--        <div class="container">-->
<!--            <h6 class="display-3 has-line"></h6>-->

<!--        </div>-->



	<!-- core  -->
    <script src="static/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="static/vendors/bootstrap/bootstrap.bundle.js"></script>
    <!-- bootstrap 3 affix -->
	<script src="static/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Rubic js -->
    <script src="static/js/rubic.js"></script>

</body>
</html>
